:root {
  --yellow: #e1ad01;
  --green: #808000;
  --burgundy: #A52A2A;
  --white: #F0EAD6;
}

#header {
  color: #F0EAD6;
  font-weight: 400; 
}

#foodCard, #drinkCard {
  background-color: var(--yellow);
}

.jumbotron {
  background-color: #654321; 
  font-family: 'Courier New', Courier, monospace;
};

#foodCard, #drinkCard {
  background-color: var(--yellow);
}

h5 {
  text-align: center;
}

#ingredient-list ul, #drink-list ul{
  padding: 10px;
  background-color: #eedc82;
  box-shadow: -3em 0 #eedc82;
  margin: 0;
}

#ingredient-list li, #drink-list li{
  padding: 10px;
  background-color: #eedc82;
  box-shadow: -3em 0 #eedc82;
}
  
ul {
  list-style-type: none;
}

.pantry {
  float: left;
  margin: 0px;
  padding-bottom: 0%;
  width: 50%;
};

.recipes{
  background-color: blue;
  color: white;
  position: sticky;
  float: right;
  margin: 0px;
  padding-top: 20%;
  padding-bottom: 40%;
  width: 50%;
  height: 100vh;
};

.form-inline {
  flex-flow: row wrap;
  align-items: center;
}

#modalBodyIngr {
  padding: 15px;
}

#modalBodyInst {
  padding: 15px;
}
