#header {
    color: #F0EAD6;
    font-weight: 400; 
}


body {
  position: relative;
  background-image: url(../../Assets/Img/ingredients.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  margin: 0px;
  height: 100%;
  flex-direction: column;
  overflow: hidden;
}

body::before {
  content: "";
  position: absolute;
  background-color: rgba(0,0,0,0.25);
}

.jumbotron {
    background-color: #654321; 
    font-family: 'Courier New', Courier, monospace;
};



  .pantry {
    float: left;
    margin: 0px;
    padding-top: 5%;
    padding-bottom: 0%;
    width: 50%;
  };

  .recipes{
    background-color: blue;
    color: white;
    position: sticky;
    float: right;
    margin: 0px;
    padding-top: 20%;
    padding-bottom: 40%;
    width: 50%;
    height: 100vh;
  };