:root {
  --yellow: #e1ad01;
  --green: #808000;
  --burgundy: #A52A2A;

}
.card {
  background-color: var(--yellow);
}

#header {
  color: #F0EAD6;
  font-weight: 400; 
}

.jumbotron {
  background-color: #654321;
  font-family: 'Courier New', Courier, monospace;
};

.row {
  justify-content: center;
}

  #ingredient-list ul, #drink-list ul{
    padding: 10px;
    background-color: #eedc82;
    box-shadow: -6em 0 #eedc82;

};

#ingredient-list ul, #drink-list ul{
  padding: 10px;
  background-color: #eedc82;
  box-shadow: -6em 0 #eedc82;

};

  

  .h3 {
    color: #F0EAD6;
    font-weight: 400; 
};
  

.pantry {
  float: left;
  margin: 0px;
  padding-bottom: 0%;
  width: 50%;
};

  .recipes{
    background-color: blue;
    color: white;
    position: sticky;
    float: right;
    margin: 0px;
    padding-top: 20%;
    padding-bottom: 40%;
    width: 50%;
    height: 100vh;
  };
   
  
   .form-inline {
    flex-flow: row wrap;
    align-items: center;
}

#modalBodyIngr {
  padding: 15px;
  cursor:grab;
}

#modalBodyInst {
  padding: 15px;
    cursor:grab;
};

#ingredient-form{
display: flex;
align-content: flex-start;
padding: 10px;

};

#drink-form{
display: flex;
align-content: flex-start;
padding: 10px;
}; 

.img-src{
  cursor:grab;
}

@media screen and (max-width: 800px) { 
  .card {
    md: 768px;
   font-size: small;
 word-wrap: break-word;
 }
}

#recipeContainer {
  justify-content: center;
}